@charset "utf-8";
/* CSS Document */
body{
	background:url(../images/bg-admin.jpg) center no-repeat fixed;
}

input:focus{
	background-color:#CFF;
}

a{
	text-decoration:none;
}

.container{
	width:100%;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#333;
	height:100%;
}

.header{
	background:url(../images/header.png) center no-repeat;
	background-size:cover;
	width:70%;
	min-height:25%;
}

.cn-menu{
	width:80%;
	margin-left:-20%;
	min-height:100px;
}

.right-menu{
	background-color:#FFF;
	width:90%;
	margin-left:20%;
	min-height:50%;
	border-radius:10px;
	box-shadow:#333 10px 10px 10px;
	border:thin #000 solid;
	padding-left:5%;
	padding-top:2%;
	padding-right:2%;
	padding-bottom:5%;
}

.left-menu{
	width:20%;
	min-height:100px;
	float:left;
	margin-top:1%;
	margin-left:3%;
	z-index:2;
}

.left-menu ul li{
	list-style:none;
	height:7%;
	border-radius:10px;
	font-size:28px;
	padding:1%;
	border:medium #FFF solid;
}

.left-menu ul li a{
	text-decoration:none;
	color:#FFF;
	margin-left:10%;
}
.tbl{
	border:medium #F00 solid;
}
.tbl tr td{
	border:thin solid #000;
}

.title-data{
	font-size:28px;
	color:#4D1A33;
	font-weight:bold;
}